/*VARIABLES*/
$background-dark: #EEEEEE;
$background-light: #FFFFFF;
$black: #1B1B1B;
$white: #FFFFFF;
$light-gray: #999999;
$yellow: #C39F4C;
$blue: #2ABCBD;

html {
    position: relative;
}

body {
    background-color: $background-dark;
    font-family: Sans-Serif, Helvetica, Arial;
}

a {
    color: $white !important;
    outline: none !important;
}

.res-navbar a {
    padding: 12px 15px;
}

.title {
    font-size: 40px;
    color: $blue;
    line-height: 40px;
    margin-bottom: 30px;
}

.icon-title {
    font-size: 44px;
    color: #333;
    font-weight: normal;
}

.quote {
    font-style: italic;
    color: $light-gray;
    font-size: 20px;
}

.mt20 { margin-top: 20px; }

/** Bootstrap overwrite **/
.navbar {
    min-height: 40px;

    a {
        color: $light-gray !important;

        &:hover {
            color: $white !important;
        }
    }
}

.navbar-inverse {
    background-color: $black;
}

.navbar .nav > li > a {
    padding: 12px 15px;
}


/** Custom **/
#banner-top {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .image {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 20;
        img {
            width: 100%;
        }
    }

    .text {
        position: relative;
        text-align: center;
        z-index: 30;
        color: #FFF;
        padding-top: 110px;
    }
}

section {
    display: block;
    position: relative;

    .container {
        padding: 70px 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 950px;    
    }

    .bg-parallax {
        min-height: 400px;
        background-position: 50% center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

section.light {
    background-color: $background-light;
}

section.light {
    &:before {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJ0lEQVQIW2NkwA4kGbGISwLFnqNLgAVBipEl4ILIEiiCMAkMQZAEADf0BSAVgBNTAAAAAElFTkSuQmCC") repeat scroll 0 0 rgba(0, 0, 0, 0);
        content: "";
        display: block;
        height: 10px;
        left: 0;
        top: 0;
        right: 0;
        position: absolute;
    }
}

section#who-we-are {
    .bg-parallax {
        background-image: url('../img/banner-top-home.jpg');
    }
}

footer {
    background-color: $black;
    color: $light-gray;
    padding-top: 50px;
    min-height: 300px;

    h4 {
        line-height: 24px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: solid 1px $light-gray;
    }

    a {
        color: $light-gray !important;
        &:hover {
            color: $white !important;
        }
    }

    li {
        margin-bottom: 8px;
        line-height: 16px;
        
        .social-widget {
            border-radius: 200px;
            background-color: $white;
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $black;
        }
    }
}

.btn-blue {
    border: solid 2px $light-gray;
    color: $light-gray;
    
    &:hover {
        background: none repeat scroll 0 0 $blue !important;
        color: $white !important;
        border-color: $blue;
    }
}

form {
    label {
        color: $light-gray;
        font-weight: normal;
    }

    textarea {
        resize: none;
    }

    .form-group {
        position: relative;
    }

    .btn-large {
        padding: 5px 30px;
        border-radius: 0px !important;
        font-size: 18px;
        letter-spacing: 2px;
    }

    .required {
        &:after {
            content: "*";
            display: inline-block;
            margin-left: 5px;
            width: 10px;
            position: absolute;
            top: 0;
        }
    }
}

.nav-boxes {
    margin-bottom: 50px;
    margin-top: 35px;
    border: solid 1px #CCCCCC;
    color: $light-gray;
    text-transform: uppercase;

    .active {
        background-color: $white;

        a {
            color: $blue !important;
            font-weight: bold;
        }
    }

    li {
        border-right: solid 1px #CCCCCC;

        &:last-child {
            border-right: none !important;
        }

        a {
            padding: 20px 15px;
            color: $light-gray !important;

            &:hover {
                background-color: $white;
                color: $blue !important;
            }

            &:focus {
                background-color: $white;
                color: $blue !important;
            }
        }
    }
}

#contact-tabs {
    div {
        display: none;
    }

    .tab-active {
        display: block !important;
    }
}