<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<ul class="links">
					<li><a href="#">Información</a></li>
					<li><a href="#">Emplazamiento</a></li>
					<li><a href="#">Servicios</a></li>
				<ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<ul class="links">
					<li><a href="#">Lo hace posible</a></li>
					<li><a href="#">Emprendedores</a></li>
					<li><a href="#">Comunicación</a></li>
				<ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<ul class="links">
					<li><a href="#">Inscripción</a></li>
					<li><a href="#">Res</a></li>
					<li><a href="#">News</a></li>
				<ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<ul class="links">
					<li><a href="#">Actividades</a></li>
				<ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="rrss">
					<a href="#" class="circle">
						<i class="icon icon-facebook"></i>
					</a>
					<a href="#" class="circle">
						<i class="icon icon-twitter"></i>
					</a>
					<a href="#" class="circle">
						<i class="icon icon-google-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					Avenida de la República Argentina 29, planta 9<br>
					bienvenido-a-res@espacio-res.org<br>
					Tel. 954 272 272
				</div>
			</div>
		</div>
	</div>
</footer>