/*VARIABLES*/
html {
  position: relative; }

body {
  background-color: #eeeeee;
  font-family: Sans-Serif, Helvetica, Arial; }

a {
  color: white !important;
  outline: none !important; }

.res-navbar a {
  padding: 12px 15px; }

.title {
  font-size: 40px;
  color: #2abcbd;
  line-height: 40px;
  margin-bottom: 30px; }

.icon-title {
  font-size: 44px;
  color: #333;
  font-weight: normal; }

.quote {
  font-style: italic;
  color: #999999;
  font-size: 20px; }

.mt20 {
  margin-top: 20px; }

.no-float {
  display: block;
  float: none; }

/** Bootstrap overwrite **/
.navbar {
  min-height: 140px; }
  .navbar a {
    color: #999999 !important; }
    .navbar a:hover {
      color: white !important; }
  .navbar .navbar-logo {
    max-width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 8px; }

.navbar-inverse {
  background-color: #1b1b1b; }

.navbar .nav > li > a {
  padding: 12px 15px; }

/** Custom **/
#banner-top {
  position: relative;
  width: 100%;
  height: 630px;
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #banner-top .image {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 20; }
    #banner-top .image img {
      width: 100%; }
  #banner-top .overlay {
    background: url("../../bundles/frontend/img/gradient.png") repeat-x scroll 0 0 transparent;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 21; }
  #banner-top .text {
    position: relative;
    text-align: center;
    z-index: 30;
    color: #FFF;
    padding-top: 100px;
    text-shadow: 0 2px 3px black; }
    #banner-top .text img {
      max-width: 200px; }

section {
  display: block;
  position: relative; }
  section .container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px; }
  section .bg-parallax {
    min-height: 400px;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  section .section-title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0; }
  section .column-main {
    background-color: white; }
    section .column-main .content {
      padding: 35px 20px 15px;
      border-top: solid 1px #CCCCCC; }

#map-canvas {
  min-height: 400px; }

section.light {
  background-color: white; }

section.light:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJ0lEQVQIW2NkwA4kGbGISwLFnqNLgAVBipEl4ILIEiiCMAkMQZAEADf0BSAVgBNTAAAAAElFTkSuQmCC") repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  top: 0;
  right: 0;
  position: absolute; }

section#events .bg-parallax {
  background-image: url("../../bundles/frontend/img/resilencia-banner-top.jpg"); }

footer {
  background-color: #1b1b1b;
  color: #999999;
  padding-top: 50px;
  min-height: 300px; }
  footer h4 {
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #999999; }
  footer a {
    color: #999999 !important; }
    footer a:hover {
      color: white !important; }
  footer li {
    margin-bottom: 8px;
    line-height: 16px; }
    footer li .social-widget {
      border-radius: 200px;
      background-color: white;
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #1b1b1b; }

.btn-blue {
  border: solid 2px #999999;
  color: #999999; }
  .btn-blue:hover {
    background: none repeat scroll 0 0 #2abcbd !important;
    color: white !important;
    border-color: #2abcbd; }

form label {
  color: #999999;
  font-weight: normal; }
form textarea {
  resize: none; }
form .form-group {
  position: relative; }
form .btn-large {
  padding: 5px 30px;
  border-radius: 0px !important;
  font-size: 18px;
  letter-spacing: 2px; }
form .required:after {
  content: "*";
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  position: absolute;
  top: 0; }

.nav-boxes {
  margin-bottom: 50px;
  margin-top: 35px;
  border: solid 1px #CCCCCC;
  color: #999999;
  text-transform: uppercase; }
  .nav-boxes .active {
    background-color: white; }
    .nav-boxes .active a {
      color: #2abcbd !important;
      font-weight: bold; }
  .nav-boxes li {
    border-right: solid 1px #CCCCCC; }
    .nav-boxes li:last-child {
      border-right: none !important; }
    .nav-boxes li a {
      padding: 15px;
      color: #999999 !important; }
      .nav-boxes li a:hover {
        background-color: white;
        color: #2abcbd !important; }
      .nav-boxes li a:focus {
        background-color: white;
        color: #2abcbd !important; }

#contact-tabs div {
  display: none; }
#contact-tabs .tab-active {
  display: block !important; }

/** Fullcalendar **/
#events-calendar {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#event-info {
  overflow: hidden; }
  #event-info a {
    color: #2abcbd !important; }
  #event-info .container {
    padding: 0 15px; }
  #event-info .no-float {
    margin: auto; }
  #event-info .event-description {
    background-color: white;
    padding: 5px; }

#event-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: #1b1b1b;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  display: none; }

.fc-day .event-day {
  margin-left: 8px;
  margin-top: 5px;
  font-size: 25px;
  color: #2abcbd; }
.fc-day div {
  position: relative; }

.txt-shadow {
  text-shadow: 1px 2px 3px black; }

.fc-button {
  border: 0px;
  background-image: none !important;
  background-color: white !important; }
  .fc-button:hover {
    background-color: #F5F5F5 !important; }
