<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>{{'Get in touch' | trans}}</h4>
                    
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:manu@iventiajobs.com">info@res.com</a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        (+34) 654 214 854
                    </li>
                </ul>

                <ul class="list-unstyled mt20">
                    <li>
                        <div class="social-widget">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <a href="">Facebook</a>
                    </li>

                    <li>
                        <div class="social-widget">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <a href="">Twitter</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>{{'Latest news' | trans}}</h4>
            </div>

            <div class="col-md-3">
                <h4>{{'Facebook' | trans}}</h4>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</footer>
