  <section id="events" class="light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">{{'Calendario de eventos' | trans}}</h2>
        </div>
      </div><!-- .row -->

      <div class="row">
        <div id="events-calendar" class="col-md-6">
        </div><!-- #events-calendar -->

        <div id="event-info" class="col-md-6 collapse">
            <div class="container">
              <div class="col-md-12 no-float event-description">
                <img id="event-img" class="img-responsive" src="">

                <h3 id="event-title"></h3>

                <p id="event-description">
                </p>
              </div>
            </div>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
    <div class="bg-parallax"></div>
  </section><!-- #events -->