  <section id="location" class="light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title">{{'Emplazamiento' | trans}}</h2>
          <p class="quote">
            {{'Orientado a atraer a inquietos emprendedores de todas partes de Sevilla, RES está ampliamente conetado, con fácil acceso en coche, bus, bici y metro. Así mismo, se emplaza en uno de los núcleos principales de atividad empresarial: Avenida de República Argentina.' | trans}}
          </p>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- #location -->

  <section id="map-canvas">
    <img class="img-responsive" src="{{asset('bundles/frontend/img/mapa-res.jpg')}}">
  </section>