  <section id="who-we-are" class="light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title">{{'Quiénes son RES' | trans}}</h2>
          <p class="quote">
            {{'RES son emprendendores inquietos, creadores de innovación, creativos tecnológicos, start-ups y pymes, freelancers, inconformistas sociales; y todas aquellas iniciativas, proyectos o negocios que a través de la colaboración favorecerán el surgimiento de una economía socialmente responsable.' | trans}}
          </p>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- #who-we-are -->