<div id="header">
    <h1><a href="{{ path('admin_events_index') }}">Resilencia Creativa</a></h1>
    <a id="menu-trigger" href="#"><i class="fa fa-align-justify"></i></a>
</div>

<div id="user-nav">
    <ul class="btn-group">
        <li class="btn"><a title="" href="{{ path('admin_logout') }}"><i class="fa fa-share"></i> <span class="text">Cerrar</span></a></li>
    </ul>
</div>
